*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container{
    padding: 40px;
    width: 1200px;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: red;
}    

h1 span{
    color: black;
    text-transform: uppercase;
}

#temperature-fahrenheit{
    font-weight: bold; 
}

.img{
    position: absolute;
}

.text{
    position: relative;
    margin-top: 190px;
    margin-left: 460px;
    font-size: 60px;
    color: red;
}
